.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 60px 20px 60px;
}

.territory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px 30px;
}

.territoryHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
