.inputTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.24px;
  color: var(--color-text-gray);
  margin-bottom: 12px;
}

.inputPasswordWrapper {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  outline: 1px solid rgba(139, 139, 139, 0.3);
  position: relative;
  display: flex;
  align-items: center;
}

.inputPassword {
  border: none;
  padding: 16px 16px 16px 8px;
  width: 100%;
  background-color: var(--color-transparent);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.24px;
  color: var(--color-black);
}

.inputPassword:focus {
  outline: none;
}

.inputPasswordWrapper:focus-within {
  outline: 2px solid var(--color-text-gray);
}

.darkSideInputText input {
  color: var(--color-text-gray);
}

.colorNegativeInput {
  outline: 2px solid var(--color-negative);
  margin-bottom: 8px;
}