.tableHeader {
  margin: 0 auto;
  position: sticky;
  z-index: 3;
  top: 0px;
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 8px 4px 8px 20px;
  max-width: 1460px;
  margin-bottom: 18px;
  font-size: 14px;
  color: var(--color-text-gray);
  display: grid;
  grid-template-columns: 6fr 20fr 2fr 9fr 2fr 20fr 2fr 19fr 1fr 10fr;
}

.name {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.tel {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
}

.email {
  grid-column: 6 / 7;
  display: flex;
  align-items: center;
}

.territory {
  grid-column: 8 / 9;
  display: flex;
  align-items: center;
}

.role {
  grid-column: 10 / 11;
  display: flex;
  align-items: center;
}