.wrapper {
  width: 860px;
  padding: 20px 30px 30px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  color: var(--color-black);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.24px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.search {
  display: flex;
  width: 100%;
  column-gap: 16px;
}

.searchInput {
  width: 100%;
}

.list {
  display: grid;
  row-gap: 20px;
}
